<!DOCTYPE html><html lang=en>
    <head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href="{{url_for('static',filename='tn-logo.PNG')}}">
    <script src=https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js>

    </script>
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css><script src=https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js></script><script src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js></script><script src=https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    </script><title>socialCampChat</title><link href="{{url_for('static', filename= 'css/app.0f2f9695.css')}}" rel=preload as=style>
    <link href="{{ url_for('static' ,filename= 'css/chunk-vendors.654aa5ee.css')}}" rel=preload as=style>
    <link href="{{ url_for('static',filename='js/app.274f5679.js')}}" rel=preload as=script>
    <link href="{{url_for('static',filename='js/chunk-vendors.34c88bb3.js')}}" rel=preload as=script>
    <link href="{{url_for('static' , filename= 'css/chunk-vendors.654aa5ee.css')}}" rel=stylesheet>
    <link href=/css/app.0f2f9695.css rel=stylesheet></head><body><noscript>
        <strong>We're sorry but pusher-chat-sentiment-analysis doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
        <div id=app></div><script src="{{ url_for('static', filename= 'js/chunk-vendors.34c88bb3.js')}}"></script>
        <script src="{{ url_for('static' , filename= 'js/app.274f5679.js')}}"></script>
        </body></html>